<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>名称</string>
			<key>detail</key>
			<string>My Watch</string>
			<key>showAccessory</key>
			<true/>
			<key>showSwitch</key>
			<false/>
			<key>showBadge</key>
			<false/>
			<key>target</key>
			<string>RenameDeviceVC</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>关于手表</string>
			<key>detail</key>
			<string></string>
			<key>showAccessory</key>
			<true/>
			<key>showSwitch</key>
			<false/>
			<key>showBadge</key>
			<false/>
			<key>target</key>
			<string>AboutWatchVC</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>固件升级</string>
			<key>detail</key>
			<string></string>
			<key>showAccessory</key>
			<true/>
			<key>showSwitch</key>
			<false/>
			<key>showBadge</key>
			<true/>
			<key>target</key>
			<string>TestViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>时间校准</string>
			<key>detail</key>
			<string></string>
			<key>showAccessory</key>
			<true/>
			<key>showSwitch</key>
			<false/>
			<key>showBadge</key>
			<false/>
			<key>target</key>
			<string>TimeCalibrateVC</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>两地时设置</string>
			<key>detail</key>
			<string></string>
			<key>showAccessory</key>
			<true/>
			<key>showSwitch</key>
			<false/>
			<key>showBadge</key>
			<false/>
			<key>target</key>
			<string>TwoCitiesSettingVC</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string>计步开关</string>
			<key>detail</key>
			<string></string>
			<key>showAccessory</key>
			<false/>
			<key>showSwitch</key>
			<true/>
			<key>showBadge</key>
			<false/>
			<key>target</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
