<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vc</key>
		<string>HomeVC</string>
		<key>title</key>
		<string>主页</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>vc</key>
		<string>BlogVC</string>
		<key>title</key>
		<string>博客</string>
		<key>icon</key>
		<string></string>
		<key>icon_sel</key>
		<string></string>
	</dict>
	<dict>
		<key>vc</key>
		<string>SettingVC</string>
		<key>title</key>
		<string>设置</string>
		<key>icon</key>
		<string></string>
		<key>icon_sel</key>
		<string></string>
	</dict>
</array>
</plist>
